<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


    <div align="center">
        <form action="">
            <input type="text" id="inputId" name="inputId">
            <button>중복 확인</button>
        </form>
        <br>
        <label for="">사용가능한 아이디입니다</label><br><br>
        <button>사용하기</button>&nbsp;&nbsp;
        <button>창닫기</button>
    </div>

    어쩌구

    <script>
        document.getElementsByTagName

        document.qyer
    </script>
    
</body>
</html>