<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>simpleCalculation</title>
</head>

<body>
    <h1>Practice2</h1>
    <form>
        <input type="number" name="a"></input>
        <select>
            <option>+</option>
            <option>=</option>
            <option>/</option>
            <option>%</option>
        </select>
        <input type="number" name="b"></input>
        <button>=</button>
        <input type="number" name="c"></input>
    </form>
</body>
</html>